{% extends "base.html" %}

{% block content %}
    <h1> USER INFORMATION</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

<a href="{{ url_for('add') }}"> <button>Add user</button></a>

<div id ='box'>
<button id="btn">Add blue User</button>
</div>

<script>
var btn = document.QuerySelector("#btn")
btn.onclick = function(){
var div = documnet.createElement("div");
div.innerHTML=generateit();
document.getElementById("box").appendChild(div);
}
function generateit()
{
return "<input type = "text">";
}
</script>

<!--button onclick="myFunction()">Click me</button>
<p id="demo"></p>
<script>
function myFunction() {
  document.getElementById("demo").innerHTML = "Hello";

}
</script-->
<center>  {{ form.submit() }} </center>
    </form>
{% endblock %}
